html {
    font-size: 24px;
}


* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #eeeeee;
    font-family: "Gowun Batang", serif;
}

header {
    min-width: 300px;
    padding: 1rem;
    background-color: #ffaa4a;
}
header h1 {
    font-size: 1.75rem;
    text-align: center;
    margin: 0;
}


main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 300px;
    gap: .25rem;
    padding: 1rem 0;
}

main div {
    width: 32%;
    margin:  .25rem 0;
    padding: 1lh 8px 8px 8px;
    font-size: 1rem;
    background-color: mediumaquamarine;
    border: 1px solid black;
    position: relative;
}
main div h2 {
    display: inline;
    font-size: 1.25rem;
    margin: 0 0 8px 8px;
    padding: 8px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
}
main div:nth-of-type(1) h2 {
    background-color: mediumvioletred;
}
main div:nth-of-type(2) h2 {
    background-color: indianred;
}
main div:nth-of-type(3) h2 {
    background-color: blueviolet;
}
main div p {
    font-size: 1rem;
}




@media (768px <= width < 992px) {
    main div:nth-child(1), main div:nth-child(2) {
        width: 48%;
    }
    main div:nth-child(3) {
        width: calc(96% + .25rem);
    }
}

@media (width < 768px) {
    main div {
        width: calc(96% + .25rem);
    }
}